<!--nav bar links-->
{{#each buttons}}
    <li>
        <a href="{{href}}">
            <div class="navBtn">
                <p>{{button}}</p>
            </div>
        </a>
    </li>
{{/each}}

<!--mayden course topics-->
{{#each objectives}}
    <p class="topicTitle"><u>{{subject}}</u></p>
    <p>{{objective1}}</p>
    <p>{{objective2}}</p>
    <p>{{objective3}}</p>
    <p>{{objective4}}</p>
    <p>{{objective5}}</p>
    <p>{{objective6}}</p>
    <p>{{objective7}}</p>
    <p>{{objective8}}</p>
{{/each}}